RewriteCond %{REQUEST_URI} !^.*\.(bmp|css|gif|htc|html?|ico|jpe?g|js|pdf|png|swf|txt|xml|svg|eot|woff|woff2|ttf)$

RewriteRule ^/(-?[a-zA-Z0-9_-]+)/?$ /index.cfm?p1=$1
RewriteRule ^/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/?$ /index.cfm?p1=$1&p2=$2
RewriteRule ^/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/?$ /index.cfm?p1=$1&p2=$2&p3=$3
RewriteRule ^/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/?$ /index.cfm?p1=$1&p2=$2&p3=$3&p4=$4
RewriteRule ^/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/?$ /index.cfm?p1=$1&p2=$2&p3=$3&p4=$4&p5=$5
RewriteRule ^/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/?$ /index.cfm?p1=$1&p2=$2&p3=$3&p4=$4&p5=$5&p6=$6
RewriteRule ^/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/?$ /index.cfm?p1=$1&p2=$2&p3=$3&p4=$4&p5=$5&p6=$6&p7=$7
RewriteRule ^/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/(-?[a-zA-Z0-9_-]+)/?$ /index.cfm?p1=$1&p2=$2&p3=$3&p4=$4&p5=$5&p6=$6&p7=$7&p8=$8
